@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Primary Color */
  --color-cust-green-400: hsl(172, 67%, 45%);

  /* Neutral colos */
  --color-cust-green-300: hsl(172, 67%, 70%);
  --color-cust-green-800: hsl(176, 67%, 25%);
  --color-cust-green-900: hsl(183, 100%, 15%);
  --color-cust-grey-500: hsl(186, 14%, 43%);
  --color-cust-grey-400: hsl(184, 14%, 56%);
  --color-cust-grey-200: hsl(185, 41%, 84%);
  --color-cust-grey-50: hsl(189, 47%, 97%);
  --color-cust-white: hsl(0, 100%, 100%);

  /* Typography */
  --text-input: 24px;
}

@layer components {
  .tipPercentage {
    @apply bg-cust-green-900 text-cust-grey-50 rounded-sm p-2 text-xl cursor-pointer hover:bg-cust-green-300 hover:text-cust-green-900;
  }

  .inputParent {
    @apply bg-cust-grey-50 flex justify-between items-center py-1 px-4 rounded-sm w-full mt-1;
  }

  .btn-disabled {
    @apply  bg-cust-green-800
  }
  
  .btn-active {
    @apply  bg-cust-green-400 hover:bg-cust-green-300 hover:cursor-pointer

  }
}